<ul>
{% if pages %}
{% for page in pages %}
    <li>
        <a href="{{ url_for(".page", path=page.path) }}">{{ page.title }}</a>
    {% if page.meta.tags|length %}
        | Tagged:
        {% for page_tag in page.meta.tags.split(",") %}
            <a href="{{ url_for(".tag", tag=page_tag|trim) }}">{{ page_tag }}</a>
        {% endfor %}
    {% endif %}
    </li>
{% else %}
    <li>No page.</li>
{% endfor %}
{% endif %}
</ul>
