{% extends "base.html" %}

{% block page_title %}contact{% endblock %}
{% block section %}contact{% endblock %}

{% block contents %}
<h2>Contact</h2>
<p> You can contact me <a href="https://twitter.com/#!crlane/">on Twitter</a> or follow me <a href="https://github.com/crlane">on Github</a>.  
</p>
{% endblock contents %}
