lesscss-percentage(n)
  (n * 100)%

baseFontSize = 19px
baseFontFamily = Palatino, Hoefler Text, Georgia, serif
baseHeight = 14px
baseLineHeight = (baseHeight * 2)
darkGrey = rgb(51, 51, 52, 1)
grey = rgb(85, 85, 86, 1)
lightGrey = rgb(170, 170, 171, 1)
lighterGrey = rgb(221, 221, 222, 1)
textColor = rgb(51, 51, 52, 1)

beforeArrows = "\00AB\00A0"
afterArrows = "\00A0\00BB"
dingbatsDecoration = "\273b\00A0\273d\00A0\273b"

.clearfix
  display inline-block
  &:after
    content "."
    display block
    clear both
    visibility hidden
    line-height 0
    height 0

html[xmlns] .clearfix
  display block
* html .clearfix
  height 1%
.active
  color darkGrey
  text-decoration none

.arrow-prefixed
  &:before
    content beforeArrows

.arrow-suffixed
  &:after
    content afterArrows

baseFontRatio(ratio)
  font-size (baseFontSize * ratio)
  line-height (baseLineHeight * ratio)

.dingbats-decorated
  &:after
    font-size baseHeight
    height baseHeight
    line-height 0
    content dingBatsDecoration

.more
  text-align right

rounded(radius=5px)
  border-radius radius
  -webkit-border-radius radius
  -moz-border-radius radius

.rounded
  rounded()

wrap()
  white-space pre
  overflow auto

.wrap
  wrap()

body
  background-color #fff
  width 1060px
  margin 0 auto
  padding 40px 20px 0
  font-family baseFontFamily
  font-size baseFontSize
  line-height baseLineHeight
  color textColor

a
  color grey

blockquote
  font-style italic
  border-left (baseHeight / 2) solid rgb(238, 238, 238, 1)
  padding-left baseHeight

code, pre
  font-family Consolas, Monaco, "Courier New", monospace
  font-size 90%
  color #555
  line-height (baseLineHeight * 0.75)

figure
  margin 0
  padding 0
  figcaption
    max-width 660px
    margin -10px 0 0 0
    font-size baseHeight
    text-align right
    font-style italic
h1, h2, h3, h4, h5, h6
  font-weight bold
  line-height (baseLineHeight * 1.1)
  a
    color textColor
hr
  @extend .dingbats-decorated
  clear both
  border none
  color lighten(textColor, 5%)
  text-align center
  margin baseHeight 0 (baseHeight * 2.5) 0
  height baseHeight

img
  border none

p
  line-height (baseHeight * 2)
  margin (baseHeight * 2) 0

pre
  padding baseHeight
  color #eee
  background #000
  rounded(8px)
  @extend .wrap
  code
    color #eee

q:before, q:after
  content ""

.main-title
  margin-left 300px
  margin-top (baseHeight * 4)
  padding-bottom baseHeight
  h1
    font-size (baseHeight * 4)
    line-height 40px
    margin 0 0 (baseHeight - 2px) 0
    a
      text-decoration none
  small
    display block
    font-size (baseHeight * 2)
    color lightGrey

.contents
  margin-left 300px
  min-height 300px
  margin-bottom 1em
  h1
    font-size (baseFontSize * 2)
  article
    header h2
      a
        text-decoration none
        @extend .arrow-suffixed
    img
      max-width 100%
    aside
      text-align right
      font-style italic
    nav
      text-align center
      .prev
        @extend .arrow-prefixed
      .next
        @extend .arrow-suffixed
    .slideshare
      width 100%
      height 530px
      border none
      margin 0
      padding 0
      overflow hidden
    .article-author
      display none

  ul.item-list
    padding 0
    list-style-type none
    li
      margin-bottom (baseHeight * 2)
      h3
        font-size baseFontSize
        margin 0
        time
          font-weight normal
      img
        max-width 100%
      p
        margin 0
      &.unpublished
        background #ddd
        padding 5px 10px

.sidebar
  position fixed
  top 190px
  width 250px
  ul
    list-style-type none
    li
      font-size (baseHeight * 2)
      line-height ((baseHeight * 3) - 0.5px)
      text-align right
      a
        color lightGrey
        font-weight bold
        text-decoration none
        span
          &:before
            content "("
          &:after
            content ")"
          font-size 18px
      a:focus, a:hover
        @extend .active

.wordcloud
  color textColor
  width 550px
  height 350px
  border 1px solid #ccc

.tag
  font-family baseFontFamily


.site-footer
  clear both
  margin-left 300px
  font-size (baseHeight * 1.1)
  p
    padding-top baseHeight
    border-top 1px solid #ddd

.activeSection
  @extend .active
  @extend .arrow-suffixed

// replace with loop
body.home
  .sidebar li.home a
    @extend .activeSection

body.blog
  .sidebar li.blog a
    @extend .activeSection

body.contact
  .sidebar li.contact a
    @extend .activeSection

body.resume
  .sidebar li.resume a
    @extend .activeSection

@import "mobile.styl"
@import "~highlight.js/styles/solarized-dark.css"
