// This file contains style adjustments
// based on media queries for different screen sizes
@media (min-width: 769px) and (max-width: 960px)
  body
    width auto
    .contents
      margin-left 200px
    .main-title
      margin-left 200px
      h2
        font-size 20px
    .contents
      margin-left 200px
    .sidebar
      width 150px
      ul
        padding 0
        li
          font-size 22px
    .site-footer
      text-align center
      margin-left 200px

@media (max-width: 768px)
  body
    font-size 18px
    line-height 24px
    width auto
    .contents
      margin-left 0
    .main-title
      margin-left 0
      h1
        margin 20px 0 15px
      small
        font-size 20px
    .sidebar
      position inherit
      top inherit
      margin 0
      width 100%
      text-align center
      li
        display inline
        padding-right 16px
    .site-footer
      margin-left 0

@media (min-width: 481px) and (max-width: 768px)
  body
    font-size 18px
    line-height 26px
    .main-title
      margin 0
      h1
        margin 0
        font-size 40px
        line-height 40px
    p
      line-height 26px
    .contents
      li
        line-height 26px

@media (max-width: 480px)
  body
    font-size 16px
    line-height 20px
    padding 10px
    width auto
    .main-title
      margin 0
      h1
        font-size 40px
        margin 20px 0 8px 0
      small
        font-size 20px
    p
      line-height 24px
    .contents
      li
        line-height 24px
    .sidebar
      ul
        margin 0
        padding 0
        li
          display inline
          padding-right 16px
    .site-footer
      margin-left 0
      text-align center
