/* fonts */

div.jqcloud {
  font-family: inherit; 
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #000; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #00424C; }
div.jqcloud span.w10 { color: #171505; }
div.jqcloud span.w9 { color: #1F1F1E; }
div.jqcloud span.w8 { color: #1F1F20; }
div.jqcloud span.w7 { color: #1F1F30; }
div.jqcloud span.w6 { color: #333330; }
div.jqcloud span.w5 { color: #333330; }
div.jqcloud span.w4 { color: #333330; }
div.jqcloud span.w3 { color: #7F7E7B; }
div.jqcloud span.w2 { color: #7F7E7A; }
div.jqcloud span.w1 { color: #7F7E7A; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }
