{% extends 'base.html' %}
{% block contents %}
    <h2>Hi.</h2>

    <h3>Biography</h3>
    <p>I am a husband, father, and programmer.</p>
    <p>I like computer science and baseball. I write here, mostly about things related to those two topics. I used to be a teacher, so I might write things about that as well.</p>

    <h3>Disclaimer</h3>
    <p>The thoughts, words, and opinions shared here are my own and are not reviewed or endorsed by any organizations with which I am associated.</p>
{% endblock contents %}
